.c-form
    form(action="form.php")
        label
            input(type="text" placeholder="Ваше имя" required name="name")
        label
            input(type="tel" placeholder="Ваш телефон" required name="phone")
        label
            input(type="email" placeholder="Ваш e-mail" required name="email")
        button Записаться
        p На ваш адрес придет письмо с подробной информацией. Мы не передаем данные третьим лицам.