.c-form
    form(action="form.php")
        label
            input(type="text" placeholder="Ваше имя" required)
        label
            input(type="tel" placeholder="Ваш телефон" required)
        label
            input(type="email" placeholder="Ваш e-mail" required)
        button Записаться