section.c-promo
    .container
        .row
            .column.-xs-12
                .promo
                    h2 Администратор общего собрания собственников помещения в МКД
                    p Почему это удобно и выгодно
                    ul
                        li Оплата - <strong>500-1000 руб./час</strong>
                        li Возможность карьерного роста
                        li Большой спрос на услуги по организации проведения юридически грамотных общих собраний собственников помещений в многоквартирных домах (ОССП МКД) в Москве, Санкт-Петербурге и городах-миллионниках.
                        li С момента начала действия 176-ФЗ "Администратор ОССП" стала востребованная высокооплачиваемая профессией.
                        li Острый дефецит опытных специалистов (требование профессионального стандарта «Управление МКД», отсутствие профильных учебных заведений).
                        li Работа в вечернее время (с 18 до 21 часов в будни и с 11 до 14 в выходные), возможна подработка и совмещение с учебой в ВУЗе.
                        li <strong>Гарантия трудоустройства</strong> для успешно сдавших экзамен.
