header.page-header
    .container
        .row
            .column.-xs-4.-md-2
                .c-logo
                    img(src="img/pics/ossp-logo.png" alt="Администратор Общего Собрания Собственников Помещений")
            .column.-md-6._pr0._md-hidden-down
                .c-contacts
                    a(href="tel:89778633677") 8(977)863-3677
                    a(href="mailto:sobraniedoma-shkola@mail.ru") sobraniedoma-shkola@mail.ru
            .column.-lg-4._pl0.-xs-8._pr0
                .c-order
                    a(href="#leadForm") Заказать звонок