section.c-features
    .container
        .row
            .column.-xs-12
                h2 Курсы профессиональной подготовки "Администратор ОССП"
            .column.-xs-12.-md-6.-lg-3
                article.feature
                    .svg
                        include ../../svg/pics/wall-clock.svg
                    h3 Готовим основательно
                    p Продолжительность обучения - <strong>60 часов</strong> ( 4 недели по 5 дней по 3 часа в вечернее время, занятия в группах) в т.ч. учебная практика.
            .column.-xs-12.-md-6.-lg-3
                article.feature
                    .svg
                        include ../../svg/pics/raise-your-hand-to-ask.svg
                    h3 Индивидуальный подход
                    p Численность учебных групп не более 15 человек
            .column.-xs-12.-md-6.-lg-3
                article.feature
                    .svg
                        include ../../svg/pics/stack-of-books.svg
                    h3 Обеспечим необходимым
                    p Выдаются методические материалы, необходимие программное обеспечение
            .column.-xs-12.-md-6.-lg-3
                article.feature
                    .svg
                        include ../../svg/pics/briefcase.svg
                    h3 Не оставим одних
                    p Успешно сдавшим экзамен гарантируется трудоустройство

