footer
    .container
        .row
            .column.-xs-6
                ul.contacts
                    li Адрес:
                    li Телефон: 8(977)863-3677
                    li E-mail: sobraniedoma-shkola@mail.ru