extends html/_page-template.pug

block content
    include components/lead-screen/_lead-screen
    include components/promo/_promo
    include components/features/_features
    section.lead-form
        .overlay
        .container.footer-form
            .row
                .column.-xs-12.footer-form
                    h2 Подать заявку
                    h3 и успеть в ближайший набор
                    include components/form/_form
    section.map
        div#map