section.lead-screen
    .overlay
    .container
        .row
            .column.-lg-6.-xs-12
                .lead
                    .text
                        h1 Зарабатывать от 1500р в день, без отрыва от учебы или работы?
                        h2 Курсы профессиональной подготовки "Администратор общего собрания собственников помещения в МКД"
                        h3 Гарантированное трудоустройство после успешной сдачи практического экзамена
            .column.-lg-6.-xs-12
                include ../form/_form